.AddIcon:hover {
    transform: scale(1.05);
}

.AddIcon:hover path{
    fill: lightgrey;
}

.AddIcon {
    width: 35px;
    height: 35px;
    margin: 5px;
    cursor: not-allowed;
    transition: transform 0.3s ease-out;
    display: block;
    z-index: 8000;
}

.Path {
    transition: 2000ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

@media (min-width: 992px) {
    .AddIcon {
        width: 50px;
        height: 50px;
    }
}

