.FilterIcon:hover path{
    fill: black;
}

.FilterIcon:hover {
    -webkit-animation:scaling .5s ease-out .1s;
    -moz-animation:scaling .5s ease-out .1s;
    animation:scaling .5s ease-out .1s;
}

.FilterIcon {
    width: 35px;
    height: 35px;
    margin: 5px;
    cursor: pointer;

}

.Path {
    transition: 2000ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

@media (min-width: 992px) {
    .FilterIcon {
        width: 50px;
        height: 50px;
    }
}

@-moz-keyframes scaling {
    0%, 100% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.1);
    }
}
@-webkit-keyframes scaling {
    0%, 100% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
}
@keyframes scaling {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}