.ContactButton{
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    transition: all 0.5s;
    -webkit-transition: all 0.5s ;
    cursor: pointer;
    font-size: 1vw;
    font-weight: 100;
    color: white;
    letter-spacing: 2px;

}

.ContactButton p {
    margin-bottom: 0;

}

.ContactButton svg {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.ContactButton:hover path {
    fill: rgb(20,70,125);
    transition: all 0.5s;

}

.ContactButton:hover svg {
    transform: rotate(180deg);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.ContactButton:hover {
    background: white;
    transition: all 0.5s;
    color: rgb(20,70,125);
}

/*.Box{*/
    /*position: absolute;*/
    /*left: 10%;*/
    /*width: 80%;*/
    /*margin: auto;*/
    /*transition: all 0.5s ease-out;*/
/*}*/
/*.Box:before{*/
    /*content: "";*/
    /*display: block;*/
    /*padding-top: 100%;*/
/*}*/






























/*.LinkedIn {*/
    /*width: 45%;*/
    /*bottom: 55%;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/


/*}*/

/*.LinkedIn path{*/
/*}*/

/*.LinkedIn:before {*/
    /*display: block;*/
    /*padding-top: 100%;*/
/*}*/





