.DropdownBar {
    width: 100%;
    margin: auto;
    padding: 5px;
    display: flex;
    background: rgb(30,70,125);
    position: relative;
    z-index: 10000;
}

@media (min-width: 992px){
    .DropdownBar {
        width: 85%;
    }
}

