.DropdownBar {
    width: 85%;
    margin: auto;
    padding: 5px;
    display: flex;
    background: rgb(30,70,125);
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10000;
}

