.ToolBar {
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;

}

.TextBox {
    height: 100%;
    width: 70%;


}
.Input {
    width: 70%;
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 3px 10px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
    cursor: text;
}


@media (min-width: 992px) {
    .Input {
        font-size: 25px;
        height: 50px;
    }
    .ToolBar {
        height: 100px;
    }
}

