.ToolBar {
    width: 100%;
    height: auto;
    background-color: lightgrey;
    padding: 15px;
    text-align: center;

}

.Input {
    height: 100%;

}
.TextBox {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    width: 70%;
    padding: 3px 10px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 25px;
    cursor: text;
}

