.DropDown {
    outline: none;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 200ms ease-in;
}




.Size2 {
    width: 50%;
    height: 100%;
}

.Size1 {
    width: 25%;
    height: 100%;
}



.a {
    background-color: lightblue;
}
.a:hover {
    background-color: deepskyblue;
    color: white;
}
.p {
    background-color: lightgreen;
}
.p:hover {
    background-color: forestgreen;
    color: white;
}
.s {
    background-color: salmon;
}
.s:hover {
    background-color: orangered;
    color: white;
}
.d {
    background-color: lightgrey;
}
.d:hover {
    background-color: darkgray;
    color:white;
}
