.Element {
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: darkgray;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.Hover {
    box-shadow: 0 0 50px #000000;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 200ms ease-in;
    transform: scale(1.02);
}
