.A2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Wrapper {
    position: relative;
    width: 22%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.SVGBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.Content {
    width: 78%;
    height: 100%;
}
.MainContent {
    position: relative;
    width: 100%;
    height: calc(100% - 20.5%); /*20.14285714%*/
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    /*background: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(20,70,125,0.2)30%,rgba(20,70,125,0.2)70%, rgba(0,0,0,0.1)100%);*/
    z-index: -9999;
}

.TextContainer {
    /*margin-right: 5.5%;*/
    height: 100%;
    width: 65%;
    padding: 3% 0 0 3%;
}

.MemberStatus{
    color: rgb(20,70,125);
    height: 20%;
    font-size: 1.3vw;
    margin-bottom: 2%;

}

.MajorShort, .UniShort, .JoinDateShort {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 15%;
    background: rgba(20,70,125,0.5);
    color: white;

}

.Major, .Uni, .JoinDate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(20,70,125,0.2)30%,rgba(20,70,125,0.2)70%, rgba(0,0,0,0.1)100%);
    height: 25%;
}

.ImgContainerWidth {
    position: absolute;
    top: 0;
    left: 0;
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(255,255,255,1) 65%,rgba(255,255,255,0)85%);
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;

}
.ImgContainerHeight {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
}

.Img {
    max-width:100%;
    max-height:100%;
}

.TopBar {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 110%;
    height: 20.5%;
    color: white;
    background: #B0B0B0;
    border-bottom: solid 1px black;
    z-index: -999;
}

.ResIndicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

}

.backSVG {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -99;
}

.Name{
    margin: 0 13% 0 0;
    font-size: 1.5vw;

}