.Completed, .Open {
    position: relative;
    margin: 10px;
    height: 30%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    transition: all 100ms ease-out;
}

.Completed {
    background: rgba(16,187,103,0.2);
}

.Open {
    background:rgba(239,46,46,0.2);
}