.Wrapper {
    height: 50em;
    position: relative;
    background-color: rgba(0,0,0,0.3);
    border: 5px solid red;
    border-radius: 5px;
    font-family: Avenir, sans-serif;
}

.Header {
    border: 10px dashed black;
    border-radius: 5px;
    margin: 0;
    font-size: 100px;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor: grabbing;
}

.Header:hover {
    color: yellow;
    background: black;
    border: 10px dashed white;
}
